body {
    font-family: Arial, sans-serif;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  
  .nav a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .nav a:hover {
    color: #23527c;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* adjust the height as needed */
}