<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #dc3545;
        }
        .navbar-nav .nav-link {
            color: white !important;
        }
        .footer {
            background-color: #dc3545;
            color: white;
            padding: 10px;
            text-align: center;
        }
        .main-content {
            margin-top: 20px;
        }

        .table th, .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .table th:nth-child(1), .table td:nth-child(1) { /* Adjusts the Server column */
            width: 150px; /* Adjust the width as needed */
        }
        
        .table th:nth-child(5), .table td:nth-child(5) { /* Adjusts the Scheduled Date column */
            width: 150px; /* Adjust the width as needed */
        }
    </style>
    <script>
        function enableEnddateEdit(index) {
            const enddateInput = document.getElementById(`enddate_${index}`);
            const enddateDropdown = document.getElementById(`enddate_dropdown_${index}`);
            const editButton = document.getElementById(`edit_button_${index}`);
            const saveButton = document.getElementById(`save_button_${index}`);
            const cancelButton = document.getElementById(`cancel_button_${index}`);

            enddateInput.disabled = !enddateInput.disabled;
            enddateDropdown.disabled = !enddateDropdown.disabled;
            enddateInput.style.display = enddateInput.disabled ? 'none' : 'block';
            enddateDropdown.style.display = enddateDropdown.disabled ? 'none' : 'inline';
            editButton.style.display = enddateInput.disabled ? 'inline' : 'none';
            saveButton.style.display = enddateInput.disabled ? 'none' : 'inline';
            cancelButton.style.display = enddateInput.disabled ? 'none' : 'inline';
        }

        function cancelEdit(index) {
            const enddateInput = document.getElementById(`enddate_${index}`);
            const enddateDropdown = document.getElementById(`enddate_dropdown_${index}`);
            enddateInput.disabled = true;
            enddateDropdown.disabled = true;
            enddateInput.style.display = 'none';
            enddateDropdown.style.display = 'none';
            document.getElementById(`edit_button_${index}`).style.display = 'inline';
            document.getElementById(`save_button_${index}`).style.display = 'none';
            document.getElementById(`cancel_button_${index}`).style.display = 'none';
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/1208/1208913.png" alt="S.M.S Logo" width="30" height="30">
            <span>SAN Bridge</span>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            </ul>
        </div>
    </nav>
    <div class="container main-content">
        <h1 class="text-center mt-4">Server Details for {{ server_data[0]['email'] }}</h1>
        <form action="/update_slot" method="post">
            <input type="hidden" name="filename" value="{{ filename }}">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Server</th>
                        <th>Email</th>
                        <th>Path</th>
                        <th>Array</th>
                        <th>Storage</th>
                        <th>Scheduled Date</th>
                        <th>SNOW Change</th>
                        <th>Maintenance Name</th>
                        <th>Notification</th>
                        <th>Acknowledgment</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in server_data %}
                    <tr>
                        <td>{{ data['servers'] }}</td>
                        <td>{{ data['email'] }}</td>
                        <td>{{ data['path'] }}</td>
                        <td>{{ data['array'] }}</td>
                        <td>{{ data['storage'] }}</td>
                        <td>
                            <input type="text" name="enddate" id="enddate_{{ loop.index0 }}" value="{{ data['enddate'] }}" class="form-control" disabled>
                            <select name="enddate_dropdown" id="enddate_dropdown_{{ loop.index0 }}" class="form-control" disabled style="display: none;">
                                {% for date in upcoming_dates %}
                                    <option value="{{ date }}" {% if data['enddate'] == date %} selected {% endif %}>{{ date }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ data['SNOW change'] }}</td>
                        <td>{{ data['maintenance_name'] }}</td>
                        <td>
                            <input type="checkbox" name="notification_{{ loop.index0 }}" {{ 'checked' if data.get('notification', False) }}>
                        </td>
                        <td>
                            <input type="checkbox" name="acknowledgment_{{ loop.index0 }}" {{ 'checked' if data.get('acknowledgment', False) }}>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" id="edit_button_{{ loop.index0 }}" onclick="enableEnddateEdit({{ loop.index0 }})">Edit</button>
                            <button type="submit" class="btn btn-success btn-sm" id="save_button_{{ loop.index0 }}" style="display: none;">Save</button>
                            <button type="button" class="btn btn-secondary btn-sm" id="cancel_button_{{ loop.index0 }}" style="display: none;" onclick="cancelEdit({{ loop.index0 }})">Cancel</button>
                            <input type="hidden" name="email" value="{{ data['email'] }}">
                            <input type="hidden" name="slot_index" value="{{ loop.index0 }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <footer class="footer">
        <p>&copy; 2024 S.M.S - product of company. All rights reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
