<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul class="nav">
    </ul>
    <h1>Server Details for {{ server_data[0]['email'] }}</h1>
    
    <table>
        <tr>
            <th>Server</th>
            <th>Email</th>
            <th>Path</th>
            <th>Array</th>
            <th>Storage</th>
            <th>Scheduled Date</th>
            <th>SNOW Change</th>
            <th>Maintenance Name</th>
            <th>Notification</th>
            <th>Acknowledgment</th>
        </tr>
        {% for data in server_data %}
        <tr>
            <td>{{ data['servers'] }}</td>
            <td>{{ data['email'] }}</td>
            <td>{{ data['path'] }}</td>
            <td>{{ data['array'] }}</td>
            <td>{{ data['storage'] }}</td>
            <td>{{ data['enddate'] }}</td>
            <td>{{ data['SNOW change'] }}</td>
            <td>{{ data['maintenance_name'] }}</td>
            <td>{{ 'Yes' if data.get('notification', False) else 'No' }}</td>
            <td>{{ 'Yes' if data.get('acknowledgment', False) else 'No' }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <footer class="footer">
        <p></p>
    </footer>
</body>
</html>
