<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/timeslots?filename={{ filename }}">Time Slots</a></li>
    </ul>
    <h1>Customization Successful</h1>
    {% for sheet_data in custom_data %}
        <h2>Sheet: {{ sheet_data.sheet }}</h2>
        <p>Customized Servers: {{ sheet_data.custom_servers }}</p>
        <p>Customized End Dates: {{ sheet_data.custom_enddates }}</p>
    {% endfor %}
    <footer class="footer">
		<p></p>
	</footer>
</body>
</html>
