<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("start").setAttribute("min", today);
      </script>
</head>
<body>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/timeslots">TimeSlots</a></li>
    </ul>
    <h1>Upload Excel File for Maintenance Windows</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <table border="1">
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
          <tr>
            <td><label for="start">Scheduled End Date:</label></td>
            <td><input type="date" id="start" name="start" value="2018-07-22" min="" max=""></td>
          </tr>
          <tr>
            <td><label for="crs">Scheduling CR's on weekends?</label></td>
            <td><input type="checkbox" id="plan-weekends" name="plan-weekends" value="yes"></td>
          </tr>
          <tr>
            <td><label for="serverlimit">Number of Servers for maintenance daily basis (1-100):</label></td>
            <td><input type="number" id="server-limit" name="server-limit" min="1" max="100"></td>
          </tr>
          <tr>
            <td><label for="excelsheet">Upload XLSX sheet:</label></td>
            <td><input type="file" name="file"></td>
          </tr>
        </table>
        <td colspan="2" align="center">
            <br><input type="submit" value="Submit"><br>
        </td>
      </form>
</body>
</html>
